.aboutt{
    margin: 100px 50px;
    font-family: 'SF Pro Display', sans-serif;
    color: rgb(32, 32, 32);
    line-height: 1;

}

p{
    display: flex;
    justify-content: center;
}
.logonav{
    display: flex;
    justify-content: center;
}
