*{
    padding: 0;
    margin: 0;
    
}

.nav-bar{
    background-color: rgb(234, 234, 234);
    padding: 10px 10px;
 
 }
 
 .logonav{
     display: flex;
     justify-content: flex-start;
     align-items: flex-start;
     margin: -70px 20px 10px;
 
     
 }
 
 .navinfo{
     display: flex;
     flex-direction: row;
     gap: 7px;
     justify-content: flex-end;
     margin: -130px 25px 20px 50px;
 
 }
 
 
 .navinfo a{
     font-family: 'SF Pro Display', sans-serif;
     color: black;
     list-style: none;
     text-decoration: none;
 
 }
 
 

 .iconsnav{
    display: flex;
    gap: 10px;
    padding: 0px 10px;
 }
 
 
 .navinfo a:hover{
     color: rgb(114, 114, 114);
 
 }





.navicons{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    gap: 20px;
    position: relative;
    bottom: 37px;   
}


.navicons :hover{
    color: #9a9a9a;
}

.mbody{
    background-color: #151515;
}



.homepagepic{
display: flex;
justify-content: center;
height: 100vh;
background: url('Untitled-1.png') no-repeat center center/cover;
}




.hp-cards{
    display: flex;
    padding: 30px;
    justify-content: space-around;
    background-color: #151515;
    color: aliceblue;
}



.hp-cards2{
    padding: 200px;
    justify-content: space-around;  
    color: rgb(189, 189, 189);
    background-color: #101010;
    background-image: url("C189FCCB-88FD-463A-8400-59CBD7AFC6C8.jpg") ;
}


.shopnow :hover{
color: rgb(96, 96, 96);
}


.hp-cards3{
    padding: 200px;
    justify-content: space-around;  
    color: rgb(213, 213, 213);
    background-color: #151515;
}

.hp3text{
    display: flex;
    justify-content: start;
}

.ichp3{
    font-size :50px;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.ichp3 :hover{
    color: #373737;
}


.hp-cards2 H2{
text-align: center;
}


.card-body{
padding: 10px;
 text-align: center;
 
}


footer {
    text-align: center;
    padding: 10px 0;
    background-color: rgb(234, 234, 234);
    color: #101010;
}

.igi{
    display: flex;
    gap: 17px;
   justify-content: center;
   margin: 20px;
   padding: 10px;
   font-size: 25px;
  
}

.igi a:hover{
    color: blue;
}